.card{
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	flex-basis: 400px;
	margin: 10px 10px;
	background-color: white;
	flex-grow: 1;
}

.card img{
	width: 150px;
}

.card h2{
	flex-grow: 1; 
	padding-left: 20px;
	font-size: 30px;
}